
/* HEADER.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "monaco", monospace;
}

:root {
  --background: #161021;
  --background-light: #221C2C;
  --text-primary: #FFFFFF;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --primary: #5B13EC;
  --primary-light: #6b21ff ;
  --primary-hover: #6b21ff;
  --primary-dark: #460bba;
  --border: #221C2C;

}

html {
    background-color: var(--background);
}

header {
    display: flex;
    align-items: flex-start;
    color: var(--text-primary);

    h1 {
      font-size: 2rem;
      margin-top: 1.5rem;}
}
  .storeLogo {
      height: 60px;
      margin-left: 1rem;
      margin-top: 0.5rem;
      margin-right: 1rem;
      display: flex;
      align-items: left;
      
  }

  nav {
  align-items: center;
  gap: 1.5rem;
  display: flex;
  margin-left: 3rem;
  margin-right: auto;
  margin-top: 2.25rem;

  a {
    text-decoration: none;
    transition: color 0.2s;
    font-weight: 500;
    color:white;

    &:hover, &:focus {

      outline: none;
    }
  }
}

form {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--background-light);
    border-radius: 8px;

    svg {
      color: var(--text-muted);
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-top: 0.3rem;
    }
}

form input[type="text"] {
  max-height: 40px;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-muted);
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
}

form input[type="text"]::placeholder {
  color: #64748b;
}

  .favButton {
    
      height: 40px;
      width: 40px;
      margin-top: 1.5rem;
      cursor: pointer;
      background-color: var(--background-light);
      border: none;
      border-radius: 8px;

      svg {
        height: 25px;
        width: 25px;
        margin-top: 3px;

      }

  }

    .cartButton {
    
      height: 40px;
      width: 40px;
      margin-top: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 1rem;
      cursor: pointer;
      border: none;
      background-color: var(--background-light);
      border-radius: 8px;

      svg {
        height: 25px;
        width: 25px;
        margin-top: 3px;

      }

}

    .avatarUser {
        height: 60px;
        width: 60px;
        margin-top: 0.85rem;
        margin-right: 1rem;
        display: flex;

  }

  /* GAMECARD.css */

.gameCard {
    background-color: var(--background-light);
    border-radius: 12px;

    margin: 2rem;
    width: 17rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-3px);
      border:var(--primary) 1px solid;
    }

    .gameImage {
        width: 100%;
        border-radius: 16px 16px 0 0;
        
        
    }
}

  .gameDetails {
    display: grid;
    margin-left: 0.5rem;
    padding-bottom: 0.6rem;
    
      h4 {
        color: var(--text-secondary);
        margin-bottom: 0.25rem;
      }

    div {
      display: flex;


      p {
        color: var(--text-secondary);
        margin-right: 0.5rem;
        margin-top: 0.75rem;

      }
      
      button {
        margin-top: 0.25rem;
        margin-left: auto;
        margin-right: 0.5rem;
        background-color: var(--primary);
        color: var(--text-primary);
        border: none;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--primary-hover);
        }

        &:active {
          background-color: var(--primary-dark);
        }
      }
    }

    

}
