
/* HEADER.css */
html {
    background-color: #161021;
}

header {
    display: flex;
    align-items: flex-start;
    color: white;
}
  .storeLogo {
      height: 60px;
      margin-left: 1rem;
      margin-top: 0.5rem;
      margin-right: 1rem;
      display: flex;
      align-items: left;
      
  }

  nav {
  align-items: center;
  gap: 1.5rem;
  display: flex;
  margin-left: 3rem;
  margin-right: auto;
  margin-top: 2rem;

  a {
    text-decoration: none;
    transition: color 0.2s;
    font-weight: 500;
    color:white;

    &:hover, &:focus {

      outline: none;
    }
  }
}

  .favButton {
    
      height: 40px;
      width: 40px;
      margin-top: 1.5rem;
      margin-left: auto;
      cursor: pointer;
      background-color: #221C2C;
      border-color: #221C2C;
      border-radius: 8px;

  }

    .cartButton {
    
      height: 40px;
      width: 40px;
      margin-top: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 1rem;
      cursor: pointer;
      background-color: #221C2C;
      border-color: #221C2C;
      border-radius: 8px;

  }
